@keyframes spinning {
  0% {
    transform: rotate(0) scale(1);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg) scale(1.5);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg) scale(1);
  }
}

.spinning {
  animation: spinning 1.2s infinite;
}
